<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		label {
			display: block;
		}
	</style>
</head>

<body>
	<div ng-app="app" ng-controller="FormController">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<label for="l1"><input type="radio" id="l1" name="leftRadios" value="Left1"  ng-model="left"/> Left1</label>
					<label for="l3"><input type="radio" id="l3" name="leftRadios" value="Left3"  ng-model="left"/> Left3</label>
					<label for="l4"><input type="radio" id="l4" name="leftRadios" value="Left4"  ng-model="left"/> Left4 </label>
				</div>
				<div class="col-lg-2">
					<label for="m4"><input type="radio" id="m4" name="middleRadios" value="Mid4"  ng-model="middle"/> Mid4</label>
					<label for="m3"><input type="radio" id="m3" name="middleRadios" value="Mid3"  ng-model="middle"/> Mid3</label>
				</div>
				<div class="col-lg-2">
					<label for="r6"><input type="radio" id="r6" name="rightRadios" value="Right6" ng-model="right"/> Right6</label>
					<label for="r8"><input type="radio" id="r8" name="rightRadios" value="Right8" ng-model="right"/> Right8</label>
					<label for="r7"><input type="radio" id="r7" name="rightRadios" value="Right7" ng-model="right"/> Right7</label>
				</div>

			</div>

			<div class="row">
				<hr>
				<div class="col-lg-2">
					{{left.value}} - {{middle.value}} - {{right.value}} <br>
				

				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<button ng-click="checkResult()">Check!</button> {{result}}
				</div>
        <div class="col-lg-6">
         Correct answers:<br> {{guess}}
        </div>
			</div>
		</div>
	1-3-7,4-4-8,3-4-6
	</div>
</body>

</html>